/*Nautilus*/
.nautilus-window *:not(.titlebar):not(headerbar):not(popover):not(scale):not(button):not(modelbutton):not(check):not(radio):not(slider):not(scale):not(.horizontal):not(.menu):not(sidebar):not(placesidebar):not(list):not(row):not(selection):not(.selected):not(menu):not(.menu):not(.csd):not(:hover):not(:active):not(decoration):not(progressbar){
background-color:transparent;}

.nautilus-window decoration{
background-color: alpha(#000,0.2);
padding: 10px;
box-shadow: none;}

.nautilus-window popover scale{
background-color:alpha(#000,0.5)}

.nautilus-window headerbar,
.nautilus-window .titlebar{
background-color: shade(#275292,0.7);
color:#fff;
box-shadow: inset 0 1px alpha(#fff,0.1);}

.nautilus-window menu decoration,
.nautilus-window .menu decoration,
.nautilus-window .csd decoration{
border-radius: 0px;
padding:2px;}

.nautilus-window headerbar button.image-button:not(.toggle):not(.radio):hover,
.nautilus-window headerbar button.slider-button:hover{
background-color: shade(#275292,0.6);}

.nautilus-window headerbar button.toggle:active{
background-color: shade(#275292,0.75);}

.nautilus-window window{
padding: none;
border: none;}

.nautilus-window placesidebar button:active{
background-color:@selected_bg_color;}


.nautilus-desktop-window,
.nautilus-desktop-window notebook,
.nautilus-desktop-window notebook > stack {
  background: transparent; }

.nautilus-desktop.nautilus-canvas-item {
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.nautilus-desktop.nautilus-canvas-item:selected {
  text-shadow: none; }

/*Terminix*/

button.popup{
border-radius: 0px;}

button.popup:active{
background-color:transparent;}

box.terminix-background{
background-color:#000;}

box.terminix-background button.flat.image-button{
background-color:alpha(#fff,0.02);
color:alpha(#fff,0.8);
box-shadow:none;}

box.terminix-background button.flat.image-button box{
background-color:transparent;}

box.terminix-background button.flat.image-button:hover{
background-color:alpha(#fff,0.02);
color:alpha(#fff,1);}

box.terminix-background button.flat.image-button:active{
background-color:@selected_bg_color;}

viewport list.terminix-session-sidebar {
background-color:shade(@bg_color,0.8);
color:#000;}

list.terminix-session-sidebar separator{
color: transparent;}

list.terminix-session-sidebar row {
background-color:transparent;
border-radius:0px;
border:none;
box-shadow:none;
outline-color:transparent;}

list.terminix-session-sidebar row overlay frame{
background-color:transparent;
border-radius:0px;
border:none;
box-shadow:none;
outline-color:transparent;}

list.terminix-session-sidebar row:active {
background-color:transparent;
border-radius:0px;
border:none;
box-shadow:none;
outline-color:transparent;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; }


list.terminix-session-sidebar row:selected {
        box-shadow: inset -2px 0 #009688;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
background-color:transparent; }

box.notebook.horizontal.header.terminix-background{
background-color:#000;}

vte-terminal{
background-color:#002A35;
color:#647B7F;}




