/****************
 * cell and row *
 ****************/
@keyframes ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 0%, transparent 0%), image(alpha(currentColor, 0)); }
  to {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 100%, transparent 0%), image(alpha(currentColor, 0.15)); } }
@keyframes flat_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 0%, transparent 0%), image(alpha(currentColor, 0.15)); }
  to {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 100%, transparent 0%), image(alpha(currentColor, 0.15)); } }
@keyframes row_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 0%, transparent 0%), image(alpha(currentColor, 0.05)); }
  to {
    background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 100%, transparent 0%), image(alpha(currentColor, 0.15)); } }
@keyframes tab_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, rgba(0, 188, 212, 0.6) 0%, transparent 0%); }
  50% {
    background-image: radial-gradient(circle farthest-corner at center, rgba(0, 188, 212, 0.6) 100%, transparent 0%); }
  to {
    background-image: radial-gradient(circle farthest-corner at center, transparent 100%, transparent 0%); } }
@keyframes header_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, #00BCD4 0%, transparent 0%); }
  to {
    background-image: radial-gradient(circle farthest-corner at center, #00BCD4 100%, transparent 0%); } }


cell {
    border-width: 0;
    border-radius: 2px;
    background-color: alpha(white,0.1);
padding: 10px;
}

cell:active,
cell:selected:active{
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: ripple_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22), 0 2px 2px transparent;
}

cell:selected,
cell:selected:hover,
cell:selected:focus {
    background-color: shade(@selected_bg_color, 0.9);
    color: @selected_fg_color;
    border-color: shade(@selected_bg_color, 0.9);
    border-width: 1px 0;
    border-style: solid;
padding: 10px;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22), 0 2px 2px transparent;
}

cell:hover{
background-color: alpha(white,0.2);
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22), 0 2px 2px transparent;}

row {
padding:10px;
background-color:rgba(46,53,66,1);
    border-radius: 2px;
margin: 2px;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22), 0 2px 2px transparent;
}

row:hover {
background-color: shade(rgba(46,53,66,1),1.4);
}

row image {
padding:5px;
}

row:active,
row:selected:active{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: ripple_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
}

row:selected,
row:selected:hover,
row:selected:focus {
    border-style: none;
    border-color: shade(@selected_bg_color, 0.9);
    background-color:  shade(@selected_bg_color, 0.9);
    color: @selected_fg_color;
    background-image: none;
padding: 10px;
}

row label {
background-color: transparent;
}

cell:active {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: ripple_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
}

/*row.activatable .has-open-popup, row.activatable:hover {
  background-color: rgba(0, 0, 0, 0.05); }

row.activatable:active {
  color: #3c3c3e;
  box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.2); }

row.activatable:selected:active {
  color: #ffffff;
  box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.5); }

row.activatable:selected:hover {
  background-color: #538dfb; }

row.activatable:selected.has-open-popup, row.activatable:selected:hover {
  background-color: #3a73e2; }*/
