/*****************
 * Color Chooser *
 *****************/
colorswatch {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16); }
  colorswatch.top {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  colorswatch.bottom {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  colorswatch.left, colorswatch:first-child:not(.overlay):not(.top) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  colorswatch.right, colorswatch:last-child:not(.overlay):not(.bottom) {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  colorswatch:only-child:not(.overlay) {
    border-radius: 2px; }
  colorswatch.top > .overlay {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  colorswatch.bottom > .overlay {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  colorswatch:first-child:not(.top) > .overlay {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  colorswatch:last-child:not(.bottom) > .overlay {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  colorswatch:only-child > .overlay {
    border-radius: 2px; }
  colorswatch:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.2); }
  GtkColorEditor colorswatch {
    border-radius: 2px; }
    GtkColorEditor colorswatch:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16); }
  colorswatch.color-dark {
    color: white; }
  colorswatch.color-light {
    color: rgba(0, 0, 0, 0.8); }
  colorswatch#add-color-button {
    background-image: linear-gradient(to right, #FF1744 25%, #FF9100 25%, #FF9100 50%, #00E5FF 50%, #00E5FF 75%, #FFEA00 75%);
    color: white; }

colorchooser .popover.osd {
  padding: 3px;
  border-style: solid;
  border-width: 9px;
  border-radius: 2px;
  border-image: -gtk-scaled(url("assets/osd-shadow-dark.png"), url("assets/osd-shadow-dark@2.png")) 10/10px stretch;
  box-shadow: none;
  color: #ECEFF1;
  background-color: #2a373e; }
  colorchooser .popover.osd:backdrop {
    border-image: -gtk-scaled(url("assets/osd-shadow-backdrop-dark.png"), url("assets/osd-shadow-backdrop-dark@2.png")) 10/10px stretch; }
  colorchooser .popover.osd label {
    color: #1DE9B6;
    font-weight: 700; }

