/*****************
 * Color Chooser *
 *****************/
colorswatch, colorswatch:drop(active) {
  border-style: none; }

colorswatch.top {
  border-top-left-radius: 5.5px;
  border-top-right-radius: 5.5px; }
  colorswatch.top overlay {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

colorswatch.bottom {
  border-bottom-left-radius: 5.5px;
  border-bottom-right-radius: 5.5px; }
  colorswatch.bottom overlay {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

colorswatch.left, colorswatch:first-child:not(.top) {
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px; }
  colorswatch.left overlay, colorswatch:first-child:not(.top) overlay {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }

colorswatch.right, colorswatch:last-child:not(.bottom) {
  border-top-right-radius: 5.5px;
  border-bottom-right-radius: 5.5px; }
  colorswatch.right overlay, colorswatch:last-child:not(.bottom) overlay {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

colorswatch.dark overlay {
  color: #fefefe;
background-color:transparent; }
  colorswatch.dark overlay:hover {
    border-color: rgba(0, 0, 0, 0.8); }
  colorswatch.dark overlay:backdrop {
    color: rgba(254, 254, 254, 0.5); }

colorswatch.light overlay {
  color: #31363d;
background-color:transparent; }
  colorswatch.light overlay:hover {
    border-color: rgba(0, 0, 0, 0.5); }
  colorswatch.light overlay:backdrop {
    color: #595d63; }

colorswatch:drop(active) {
  box-shadow: none; }
  colorswatch:drop(active).light overlay {
    border-color: #4e9a06;
    box-shadow: inset 0 0 0 2px #3d7805, inset 0 0 0 1px #4e9a06; }
  colorswatch:drop(active).dark overlay {
    border-color: #4e9a06;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px #4e9a06; }

colorswatch overlay {
  box-shadow: inset 0 2px 2px -3px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3); }
  colorswatch overlay:hover {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3); }
  colorswatch overlay:backdrop, colorswatch overlay:backdrop:hover {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: none; }

colorswatch#add-color-button {
  border-radius: 5px 5px 0 0; }
  colorswatch#add-color-button:only-child {
    border-radius: 5px; }
  colorswatch#add-color-button overlay {
    font: bold;
    color: #31363d;
    outline-color: rgba(49, 54, 61, 0.3);
    background-color: #fefefe;
    text-shadow: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2); }
    colorswatch#add-color-button overlay:hover {
      color: #31363d;
      outline-color: rgba(49, 54, 61, 0.3);
      background-color: #fefefe;
      text-shadow: none;
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2); }
    colorswatch#add-color-button overlay:backdrop {
      color: #595d63;
      outline-color: rgba(49, 54, 61, 0.3);
      background-color: #fbfbfb;
      text-shadow: none;
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2); }

colorswatch:disabled {
  opacity: 0.5; }
  colorswatch:disabled overlay {
    border-color: rgba(0, 0, 0, 0.6);
    box-shadow: none; }

row:selected colorswatch {
  box-shadow: 0 0 0 2px #fefefe; }

colorswatch#editor-color-sample {
  border-radius: 4px; }
  colorswatch#editor-color-sample overlay {
    border-radius: 4.5px; }

colorchooser .popover.osd {
  border-radius: 5px; }

button.color {
  padding: 4px; }
  button.color colorswatch:only-child {
    box-shadow: 0 1px rgba(255, 255, 255, 0.769231); }
    button.color colorswatch:only-child, button.color colorswatch:only-child overlay {
      border-radius: 0; }
    button.color colorswatch:only-child:disabled, button.color colorswatch:only-child:backdrop {
      box-shadow: none; }
