/*******
 * CSD *
 *******/
/*.titlebar,
.header-bar {
    border-radius:15px 15px 0 0;
    background-image: none;
    /*background-color: shade(@bg_color,0.9) /*@header_bg_color*/;
    /*color: @header_fg_color;
    text-shadow: none;
    padding:  4px 10px; /*5px 10px*/

    /*box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1);
    border-bottom: 1px solid shade(@bg_color, 0.8);*/


@keyframes check_check {
  from {
    -gtk-icon-transform: rotate(90deg); }
  to {
    -gtk-icon-transform: unset; } }

.titlebar:not(headerbar),
headerbar {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4);
  background-color: shade(@bg_color,0.8);
  background-clip: border-box;
    padding:  4px 4px;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.08), 0 2px 2px transparent; }

.tiled .titlebar:not(headerbar),
.tiled headerbar,
.maximized .titlebar:not(headerbar),
.maximized headerbar {
border-radius: 0px;
border-top: 1px solid @selected_bg_color;
background-color: #000; }

/*.csd .header-bar,
.csd .titlebar,
{
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4);
  background-color: shade(@bg_color,0.8);
  background-clip: border-box;
    padding:  4px 4px;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.08), 0 2px 2px transparent; }
*/
headerbar/*,
.titlebar,
.header-bar*/ {
    padding: 4px 10px;
  background-color: shade(@bg_color,0.8);
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
box-shadow: inset 0 1px alpha(#fff,0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.08), 0 2px 2px transparent; }

  .default-decoration.titlebar:not(headerbar),
  headerbar.default-decoration,
    .default-decoration.titlebar:not(headerbar):backdrop,
  headerbar:backdrop. default-decoration,
  headerbar.default-decoration:backdrop
{
    min-height: 14px;
    padding: 2px;
    border-width: 0;
  background-color: shade(@bg_color,0.8);
}


window.csd > .titlebar:not(headerbar)
{
  padding: 0;
  background-color: transparent;
 }

window.csd{
border: 1px solid #000;}



/*headerbar button,
headerbar button:active,
headerbar button:checked {
    border-radius: 10px;
    padding: 5px 4px /*4px*/;
/*background-color: /*@selected_bg_color*/ /*transparent;
color: #fff;
border: 3px solid transparent; 
}*/

headerbar button,
.titlebar button {
background-color: transparent;
margin: 4px;
border-radius: 0px;
}

headerbar button.toggle:hover{
background-color:transparent;}

headerbar button:active,
headerbar button:checked,
.titlebar button:active,
.titlebar button:checked {
    /*border-radius: 0 0 0 0;*/
  animation: animation: ripple_effect 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards; 
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
background-color: @selected_bg_color;
/*border-bottom: 2px solid @selected_bg_color;*/
color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
}

headerbar button.toggle,
headerbar button.radio{
margin:0px;
padding:10px;
border:none;}

headerbar button.radio.text-button{
padding: 10px 30px;
border-radius:1px;}

headerbar button box{
background-color:transparent;}


headerbar button.radio:active.text-button{
background-color: alpha(#fff,0.05);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; }

/*button.radio:active:not(.image-button),*/
headerbar button.radio:checked:not(.image-button){
        box-shadow: inset 0 -2px #009688;}

headerbar button.radio.text-button:checked{
background-color: transparent;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; }


headerbar button.toggle:checked
{
background-color:transparent;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; 
/*border-bottom:2px solid @selected_bg_color;*/
        box-shadow: inset 0 -2px @selected_bg_color;


}

/*headerbar button.radio:checked
{
background-color:transparent;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; 
/*border-bottom:2px solid @selected_bg_color;*/
     /*   box-shadow: inset 0 -2px #009688;}
*/
headerbar button.toggle:active{
background-color: shade(@bg_color,0.9);
box-shadow:none;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; }
headerbar button.radio:active{
border-radius: 0px;}
headerbar button.toggle:active{
border-radius: 0px;}

headerbar button.toggle:active{
background-color: shade(@bg_color,0.9);
box-shadow:none;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; }

headerbar button.image-button:not(.toggle):not(.radio),
headerbar button.slider-button{
border-radius:15px;
background-color: transparent;
box-shadow:none;}

headerbar button.image-button:not(.toggle):not(.radio):hover,
headerbar button.slider-button:hover{
background-color: shade(@bg_color,0.6);}

headerbar button.image-button:not(.toggle):not(.radio):active,
headerbar button.slider-button:active{
background-color: #009688;
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: ripple_effect 0.4s cubic-bezier(0, 0, 0.2, 1) forwards;}

/*headerbar button.radio:checked{
background-color: shade(@bg_color,0.9);}
*/
/*headerbar button.radio:active{
box-shadow:none;}
*/
headerbar button.text-button:not(.toggle):not(.radio) {
border-radius: 2px;
box-shadow: none;
background-color: shade(#275292,1.5);
}
/*
headerbar button.text-button:not(.toggle):not(.radio) {
box-shadow: inset 0 1px alpha(#fff,0.2);
}*/
headerbar button.text-button:not(.toggle):not(.radio):hover {
border-radius: 2px;
box-shadow: none;
background-color: shade(#275292,1.8);}

headerbar button.text-button:not(.toggle):not(.radio):active {
border-radius: 2px;
box-shadow: none;
background-color: #009688;
    transition: all 0.1s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.1s cubic-bezier(0, 0, 0.2, 1) forwards; }

/*headerbar button.radio:active{
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
box-shadow: none;   
 animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; 
}

headerbar button.radio:checked{
box-shadow: inset 0 -2px #009688;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, background-image 0;
    animation: cica_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards; 
}*/

headerbar button.radio{
padding-left: 30px;
padding-right:30px;
padding-bottom: 10px;
padding-top:10px;
}
/*.tiled .titlebar {
    border: none;
    box-shadow: none;
}*/

.titlebar.default-decoration {
    border: none;
}

.titlebar .title {
    font: Segoe UI 10;
    color: @header_fg_color;
    padding: none ;
}

.titlebar .subtitle {
    font: 9;
    color: @header_fg_color;
}

.titlebar .separator {
    color: transparent;
}

.titlebar .arrow {
    color: alpha(@header_fg_color, 0.7);
}

.titlebar .arrow:insensitive {
    color: mix(@fg_color, @bg_color, 0.3);
}

window {
    border: 2px;
    border-color: shade(@bg_color,0.8);
    background-color: @header_bg_color;
    box-shadow: 2px 0 6px 2px rgba(0, 0, 0, 0.4);
    margin: 10px;
padding:2px;
}

window-frame.maximized {
    border-radius: 0;
}

window-frame.tiled  {
    border-radius:0 ;
}

window-frame:backdrop {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

  window-frame.ssd {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.23);
}


/******************
 * window actions *
 ******************/
headerbar button.titlebutton:hover,
headerbar button.titlebutton:checked {
    /*border: #fff;
    background-color: transparent;
    icon-shadow: none;
    box-shadow: none; 
    color: @selected_bg_color;*/
    icon-shadow: none;
    border-radius:20px 20px 20px 20px;
    color: #fff /*@selected_bg_color*/;
    background-color: @selected_bg_color;
    background-image: none;
    border: none;
    padding: 6px;
    box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.1);
}

headerbar button.titlebutton,
headerbar button.titlebutton {
    icon-shadow: none;
    color: #fff;
    padding: 6px;
   border-radius:20px 20px 20px 20px;
    background-color: transparent;
    background-image: none;
    border: none;
    margin: none;
   box-shadow: none;
}

.titlebar button.titlebutton {
    icon-shadow: none;
    color: #fff;
    padding: 6px;
   border-radius:20px 20px 20px 20px;
    background-color: transparent;
    background-image: none;
    border: none;
    margin: none;
   box-shadow: none;
}

.titlebar button.titlebutton:hover,
.titlebar button.titlebutton:checked {
    /*border: #fff;
    background-color: transparent;
    icon-shadow: none;
    box-shadow: none; 
    color: @selected_bg_color;*/
    icon-shadow: none;
    border-radius:20px 20px 20px 20px;
    color: #fff /*@selected_bg_color*/;
    background-color: @selected_bg_color;
    background-image: none;
    border: none;
    padding: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
box-shadow: inset 0 1px alpha(#fff,0.1);
}

.titlebar {
    background-image: none;
    background-color: shade(@bg_color, 0.9);
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
    text-shadow: none;
}

.header-bar button.titlebutton:hover,
.header-bar button.titlebutton:checked 
 {
    /*border: #fff;
    background-color: transparent;
    icon-shadow: none;
    box-shadow: none; 
    color: @selected_bg_color;*/
    icon-shadow: none;
    border-radius:20px 20px 20px 20px;
    color: #fff /*@selected_bg_color*/;
    background-color: @selected_bg_color;
    background-image: none;
    border: none;
    padding: 6px;
    box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.1);
}


.window-frame {
    border: 1px solid #000;
    border-radius: 0;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23),
                0 0 0 1px mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);

    /* this is used for the resize cursor area */
    margin: 15px;
   padding: 1px;
}

headerbar button.titlebutton.close:hover,
headerbar button.titlebutton.close:active {
background-color: #d34836;
}


headerbar button.titlebutton.minimize:hover,
headerbar button.titlebutton.minimize:active {
background-color: shade(rgb(32,143,143),0.9);
}


.header-bar-separator {
    color: alpha(black, 0.2);
}

headerbar .separator,
headerbar .separator {
    color: alpha(black, 0.2);
}


headerbar button.titlebutton:backdrop {
    background-image: none;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.2);
    icon-shadow: none;
}


.header-bar.default-decoration,
.csd .header-bar.default-decoration {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0;
} 

headerbar radiobutton,
.titlebar radiobutton,
headerbar checkbutton,
.titlebar checkbutton {
border-radius: 0px;}



/*.titlebar .titlebutton,
.titlebar .titlebutton:hover,
.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover,
.titlebar .titlebutton:backdrop,
.maximized .titlebar .titlebutton,
.maximized .titlebar .titlebutton:hover,
.maximized .titlebar .titlebutton:active,
.maximized .titlebar .titlebutton:active:hover,
.maximized .titlebar .titlebutton:backdrop {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}*/

/**********************
 * Window Decorations *
 *********************/
decoration {
border-radius: 15px 15px 0 0;
padding: 1px;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22), 0 16px 16px transparent;}




.titlebar, .titlebar:backdrop {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }


.tiled .titlebar, .tiled .titlebar:backdrop, 
.maximized .titlebar, .maximized .titlebar:backdrop{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }


.titlebar:not(headerbar) > separator {
  background-color: transparent;
  background-image: image(rgba(0, 0, 0, 0.1)); }

separator {
  min-width: 1px;
  min-height: 1px;
  background: rgba(0, 0, 0, 0.1); }

separator:first-child + headerbar, headerbar:first-child {
  border-top-left-radius: 15px; }
  .tiled separator:first-child + headerbar, .maximized separator:first-child + headerbar, .tiled headerbar:first-child, .maximized headerbar:first-child {
    border-radius: 0px; }
headerbar:last-child {
  border-top-right-radius: 15px; }
  .tiled headerbar:last-child, .maximized headerbar:last-child {
    border-radius: 0px; }

toolbar{
background-color:#000;
padding:3px;}

